@font-face{
        font-family: 'FontAwesome-Regular';
        src: url('assets/FontAwesome-Regular.ttf');
        
        font-family: 'Malaga Narrow OT Reg Italic';
        src: url('assets/Malaga Narrow OT Reg Italic.ttf');
        
        font-family: 'Minion Pro Regular';
        src: url('assets/Minion Pro Regular.ttf');
        
        font-family: 'MyriadPro-Regular';
        src: url('assets/MyriadPro-Regular.ttf');
        
        font-family: 'TitilliumWeb-Bold';
        src: url('assets/TitilliumWeb-Bold.ttf');
        
        font-family: 'TitilliumWeb-Regular';
        src: url('assets/TitilliumWeb-Regular.ttf');
        
        font-family: 'TitilliumWeb-SemiBold';
        src: url('assets/TitilliumWeb-SemiBold.ttf');
}
* 
{
  margin: 0;
  padding: 0;
}
html {
        min-height: 100%;
        font-size: 16px;
        width: 1800px;
        margin: auto;
    
}
body {
        display: flex;
        flex-direction: column;
        flex: auto;
        font-family: 'TitilliumWeb-SemiBold', 'MyriadPro-Regular'; 
        color: #636363;
        height: 100vh;

}
        
header {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box; 
        height: 149px;
        margin-top: 2.706144539955428%; /*85/3141*/
        
}
h1 {
        font-size: 1.85rem; /*30/16*/
        padding-bottom: 5%;
}
.partofneutron{
        color: #5b4295;

}
.language{
        display: inline-block;
        margin-left: 11.11111111111111%; /*200/1800*/ 
}
a{
        text-decoration: none;
        color: #636363;
}
span a{
        padding: 0 0.5rem;
}
.english{
        margin-left: -0.5rem;
}
nav{
        font-size: 1rem;
        margin-right: 11.05555555555556%;
        width: 46.333333%;
}
nav a{
        margin-right: 2%;
}
.signin{
        margin-left: 7%;
}
nav h3{
        display: inline;
        margin-right: 3%;
}

button{
        width: 97px; 
        height: 43px;
        border-radius: 20px 20px 20px 20px;
        border: none;
        background-image: url(assets/sign-up-button.png);
        background-size: 150%;
        background-position: 50% 24%;
        background-clip: content-box;
        color: white;
        flex-wrap: nowrap;
}
.introduction{
        display: flex;
        flex-direction: column;
        background-image: url(assets/mountains.png);
        height: 19%;
}
.introduction h2{
        margin-top: 300px;
}


