@font-face{
        font-family: 'FontAwesome-Regular';
        src: url('assets/FontAwesome-Regular.ttf');
        
        font-family: 'Malaga Narrow OT Reg Italic';
        src: url('assets/Malaga Narrow OT Reg Italic.ttf');
        
        font-family: 'Minion Pro Regular';
        src: url('assets/Minion Pro Regular.ttf');
        
        font-family: 'MyriadPro-Regular';
        src: url('assets/MyriadPro-Regular.ttf');
        
        font-family: 'TitilliumWeb-Bold';
        src: url('assets/TitilliumWeb-Bold.ttf');
        
        font-family: 'TitilliumWeb-Regular';
        src: url('assets/TitilliumWeb-Regular.ttf');
        
        font-family: 'TitilliumWeb-SemiBold';
        src: url('assets/TitilliumWeb-SemiBold.ttf');
}
* 
{
  margin: 0;
  padding: 0;
}
html {
        min-height: 100%;
        font-size: 16px;
        width: 1800px;
        height: 3141px;
        display: flex;
        flex-direction: column;
        margin: auto;
    
}
body {
        display: flex;
        flex-direction: column;
        flex: auto;
        font-family: 'TitilliumWeb-SemiBold', 'MyriadPro-Regular'; 
        color: #636363;
}
        
header {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box; 
        height: 149px;
        padding-top: 2.706144539955428%; /*85/3141*/
        
}
h1 {
        font-size: 1.85rem; /*30/16*/
        padding-bottom: 0.8914358484559058% 
}
.partofneutron{
        color: #5b4295;

}
.language{
        display: inline-block;
        margin-left: 11.11111111111111%; /*200/1800*/
}
a{
        text-decoration: none;
        color: #636363;
}