@font-face{
        font-family: 'FontAwesome-Regular';
        src: url('assets/FontAwesome-Regular.ttf');
        
        font-family: 'Malaga Narrow OT Reg Italic';
        src: url('assets/Malaga Narrow OT Reg Italic.ttf');
        
        font-family: 'Minion Pro Regular';
        src: url('assets/Minion Pro Regular.ttf');
        
        font-family: 'MyriadPro-Regular';
        src: url('assets/MyriadPro-Regular.ttf');
        
        font-family: 'TitilliumWeb-Bold';
        src: url('assets/TitilliumWeb-Bold.ttf');
        
        font-family: 'TitilliumWeb-Regular';
        src: url('assets/TitilliumWeb-Regular.ttf');
        
        font-family: 'TitilliumWeb-SemiBold';
        src: url('assets/TitilliumWeb-SemiBold.ttf');
}
* 
{
  margin: 0;
  padding: 0;
}
html {
        min-height: 100%;
        display: flex;
        flex-direction: column;
}
body {
        display: flex;
        flex-direction: column;
        flex: auto;
        }
header {
        width: 100%;
        min-width: 430px; 
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        box-sizing: border-box;           
}

h1{
        font-family: 'TitilliumWeb-SemiBold', 'MyriadPro-Regular';     
}
a{
        text-decoration: none;
}
